#h0001 {
    color: rgb(15, 128, 0);
}

/*selector{
    property: value;
    property: value;
    property: value;
}
*/
#h0002 {
    color: red;
}

.text_blue {
    color: blue;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: flex-end;
}