<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <b> my name is:  </b> {{ info.name }} <br>
    <b> my school is:  </b> {{ info.school }} <br>
    <b> my hobby is:  </b> {{ info.hobbies }} <br>
    <img src=" {{ info.link }} " alt="football"> <hr>
    <b> my age is:  </b> {{ info.age }} <br>

</body>
</html>