<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {{detail_food.title}} <br>
    {{detail_food.description}}   <br>
    <img src="{{detail_food.link}}" >  
    
    {% if detail_food.type == "eat" %}
        <p>day la do an</p>
    {% elif detail_food.type == "drink" %}
        <p>day la do uong</p>
    {% endif %}
</body>
</html>