<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <form action="/login" method="POST">
        <input type="text" name="name" placeholder="name"> <br> <br>
        <input type="password" name="password" placeholder="password"> <br> <br>
        <input type="submit" value="Đăng nhập">
        <input type="reset" value="reset">
    </form> <br><br><br>
    <div>
        <h1 id="h0001">Test thử Css</h1>
        <h1 id="h0002">Test lại lần 2</h1>
        <h2 class="text_blue">Đây là thẻ h2</h2>
        <h5 class="text_blue">Đây là thẻ h5</h5>
        <h6 class="text_blue">Đây là thẻ h6</h6>
    </div>
</body>
</html>