<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike</title>
    <link rel="stylesheet" href="static/css/style_bike.css">
</head>
<body>
    <form method="POST">
        <b>Model</b>
        <input type="text" placeholder="e.g. Honda" name="model" required> <br><br>
        <b>Dayly Fee (VND)</b>
        <input type="text" value="100000" name="fee" required> <br><br>
        <b>Image</b>
        <input type="text" placeholder="e.g. https://hondaxemay" name="Image" required> <br><br>
        <b>Year</b>
        <input type="text" placeholder="e.g. 2013" name="Year" required> <br><br>
        <input class="submit" type="submit" value="Submit">
    </form>

    
</body>
</html>